# Requirements ripped from the upstream builds
anyio
asyncpg
attrs
Brotli
brotli-asgi
buildpg
cachetools
click
dateparser
fastapi
geojson-pydantic
h11
httptools
idna
iso8601
lark
orjson
plpygis
pydantic==2.4.2
pygeofilter
pygeoif
pypgstac
pystac[validation]
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
regex
six
smart-open
sniffio
stac-fastapi.api
stac-fastapi.extensions
stac-fastapi.pgstac
stac-fastapi.types
stac-pydantic==3.1.2
starlette
tenacity
termcolor
typing_extensions
tzdata
tzlocal
uvicorn
uvloop
watchfiles
websockets
# Needed for pypgstac
psycopg
psycopg_pool
