# Requirements ripped from the upstream builds
anyio
asyncpg
attrs
Brotli
brotli-asgi
buildpg
cachetools
click
dateparser
fastapi
geojson-pydantic
h11
httptools
idna
iso8601
lark
orjson
plpygis
pydantic
pygeofilter
pygeoif
pypgstac==0.8.1
pystac
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
regex
six
smart-open
sniffio
stac-fastapi.api
stac-fastapi.extensions
stac-fastapi.pgstac
stac-fastapi.types
stac-pydantic
starlette
tenacity
termcolor
typing_extensions
tzdata
tzlocal
uvicorn
uvloop
watchfiles
websockets
# Needed for pypgstac
psycopg
psycopg_pool
# Needed for our tools
git+https://github.com/digitalearthpacific/dep-tools.git
# Needed for odc stuff
odc-apps-dc-tools
